html
  head
    title Live Chat App
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    

    <!-- Font Awesome -->
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    <!-- Google Fonts -->
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    <!-- Bootstrap core CSS -->
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet")
    <!-- Material Design Bootstrap -->
    link( href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css", rel="stylesheet")
    <!-- Local Styles -->
    link(rel='stylesheet', href='/public/style.css')
    body#indexbody  
    h1.border.center Live Chat
    <div class="center">
    h2.center#pug-success-message
    | Welcome to Live Chat. Either create an account to login or login with your Github account.
    </div>
       
    if showLogin
    div.form-div.center
      hr
      h2.center Login Form
      form(action='/login', method='post').center
        div.md-form
          label.form-label.text-dark(for='indexform1_input1') Username:
          input.form-control#indexform1_input1(type='text', name='username')
        div.md-form
          label.form-label.text-dark(for='indexform1_input2') Password:
          input.form-control#indexform1_input2(type='password', name='password')
        div
          input.btn.btn-light(type='submit', value='Log In')
          
    if showRegistration
    div.form-div.center
      hr
      h2.center Registration Form
      form(action='/register', method='post').center
        div.md-form
          label.form-label.text-dark(for='indexform2_input1') Username:
          input.form-control#indexform2_input1(type='text', name='username')
        div.md-form
          label.form-label.text-dark(for='indexform2_input2') Password:
          input.form-control#indexform2_input2(type='password', name='password')
        div
          input.btn.btn-light(type='submit', value='Register')

    if showSocialAuth
      hr
      h2.center Social Login
      .login.center
        a.btn.btn-light(href='/auth/github').text Login with Github!#[i.fab.fa-github.fa-5x.github-icon]
        
        


<!-- JQuery -->
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
<!-- Bootstrap tooltips -->
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js")
<!-- Bootstrap core JavaScript -->
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js")
<!-- MDB core JavaScript -->
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js")